# Copy to .env and update credentials/paths as needed

# Database
ALBION_DB_DSN=postgres://postgres:postgres@localhost/postgres?sslmode=disable

# Polling (Killboard)
ALBION_EVENTS_PAGE_SIZE=50
ALBION_EVENTS_MAX_PAGES=1
ALBION_EVENTS_INTERVAL=10s

# Queue (Players)
ALBION_PLAYER_RATE=6
ALBION_PLAYER_BATCH=100

# Polling (Battleboard)
ALBION_KILLBOARD_PAGE_SIZE=51
ALBION_KILLBOARD_MAX_PAGES=1
ALBION_KILLBOARD_INTERVAL=60s

# Misc
API_PORT=8080
