@import 'tailwindcss';
@import 'nprogress/nprogress.css';

@custom-variant dark (&:where(.dark, .dark *));

#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: #2563eb;
	height: 3px;
}

#nprogress .peg {
	box-shadow: 0 0 10px #2563eb, 0 0 5px #2563eb;
}
